extends layout

block content
  div(id='wrapper')

    div(id='main')
      div(class='inner')

        header(id='header')
          h1= title       

        section(id='banner')
          div(class='content')
            header
            table
              tr
                th Identifiant
                th Nom
                th Prénom
                th Email
                th Actions
              tr
                each figurant, i in figurantlist
                  tr
                    td
                      = figurant.identifiant
                    td
                      = figurant.nom
                    td
                      = figurant.prenom
                    td
                      = figurant.email
                    td
                      a(href='/figurants/delete/' + figurant._id) Delete
                      br
                      a(href='/figurants/edit/' + figurant._id) Edit

    div(id='sidebar')
      div(class='inner')

        nav(id='menu')
          header(class='major')
            h2= 'Menu'

          ul
            li
              a(href='/') Accueil
            li
              a(href='/figurants') Liste des figurants
            li
              a(href='/role') Liste des roles
            li
              a(href='/evenements') Liste des evenements
            li
              a(href='/insertEvenement') Insertion d'un evenement
       
        footer(id='footer')
          p(class='copyright')= 'BTS SIO SLAM.'
    