extends layout

block content
  div(id='wrapper')

    div(id='main')
      div(class='inner')

        header(id='header')
          h1= title       

        section(id='banner')
          div(class='content')
            form#formAddEvenement(name="add",method="post",action="/insertEvenement/add")
              input#inputEvenementNom(type="text", placeholder="nom", name="nom")
              select#selectEvenementType(type="text", placeholder="type", name="type")
                option Film
                option Spectacle
              input#inputEvenementDate(type="text", placeholder="date", name="date")
              input#inputEvenementNbJours(type="text", placeholder="nbJours", name="nbJours")
              button#btnSubmit(type="submit") submit

    div(id='sidebar')
      div(class='inner')

        nav(id='menu')
          header(class='major')
            h2= 'Menu'

          ul
            li
              a(href='/') Accueil
            li
              a(href='/figurants') Liste des figurants
            li
              a(href='/role') Liste des roles
            li
              a(href='/evenements') Liste des evenements
            li
              a(href='/insertEvenement') Insertion d'un evenement
       
        footer(id='footer')
          p(class='copyright')= 'BTS SIO SLAM.'
    