doctype html
html(lang='fr')
  head
    title= title
    link(rel='stylesheet', href='./assets/css/main.css')
    meta(name='viewport', content='width=device-width, initial-scale=1',user-scalable='no')
    meta(charset='utf-8')
  body
    block content
    script(src='./assets/js/jquery.min.js')
    script(src='./assets/js/skel.min.js')
    script(src='./assets/js/util.js')
    script(src='./assets/js/main.js')